@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .h1 {
    @apply text-xl font-bold md:hidden;
  }
  .h1.desktop {
    @apply hidden text-4xl md:block;
  }
  .h2 {
    @apply text-lg font-semibold md:text-xl;
  }

  .h3 {
    @apply text-lg font-semibold;
  }

  .sidebar-shadow {
    box-shadow: rgba(0, 0, 0, 0.22) 0px 4px 22px;
  }

  .card {
    /* @apply bg-base-200;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.08),
      0px 8px 15px rgba(0, 0, 0, 0.08), 0 0 0 1px rgba(255, 255, 255, 0.1);
    transition: box-shadow 0.25s; */

    @apply rounded-3xl;
    background: #2a303c;
    box-shadow: 5px 5px 10px #111318, -5px -5px 10px #434d60;
  }

  .sidebar-shadow {
    @apply border-base-content border-opacity-[0.08]  shadow-lg shadow-neutral;
  }
}
